/* HEADER */
header {
  background-color: #b7410e;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-weight: 400;
}

/* NAVBAR */
#navbar {
  overflow: hidden;
  background-color: #b7410e;
  border-bottom: solid 15px #8d8c52;
}

#navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#navbar a:hover {
  background-color: #8d8c52;
  color: white;
}

/* CONTAINER */
#container {
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
}

/* CARD */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 50%;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-title {
  text-align: center;
  font-size: 2em;
  color: #b7410e;
  font-weight: 400;
  padding-top: 15px;
}

.card-content {
  padding: 2px 16px;
}

/* FOOTER */
footer {
  background-color: #b7410e;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer p {
  color: white;
  font-weight: 400;
  float: right;
  padding-right: 10px;
  font-style: italic;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  text-decoration: underline;
}
